.vs/
build*/
.vscode
/JSON/Schemas
/cmake/cross_compile_build/
.idea/
vs
cmake/debug/
# zhangjian_only
.vscode/
.history/

/call
/cmake/cmake-build-debug
/cmake/cmake-build-release
cpp/common/include/boost/*