{
	"TestModel":{
		"rknn":"./mt/longinus320.rknn",
		"phai":"./mt/longinus.phai",
		"racy":"./mt/longinus.racy",
		"dataset":"./mt/320.txt",
		"outputMap":"./mt/retina_output_map.json",
		"imgReSize":"320",
		"convertBGR":"1"
	}
}
