{
  "configurations": [
    {
      "name": "x64-Debug",
      "generator": "Ninja",
      "configurationType": "Debug",
      "inheritEnvironments": [ "msvc_x64_x64" ],
      "buildRoot": "${projectDir}\\out\\build\\${name}",
      "installRoot": "${projectDir}\\out\\install\\${name}",
      "cmakeCommandArgs": "",
      "buildCommandArgs": "",
      "ctestCommandArgs": "",
      "variables": [
        {
          "name": "Boost_INCLUDE_DIRS",
          "value": "",
          "type": "STRING"
        },
		{
          "name": "OpenCV_DIR",
          "value": "E:/opencv-4.7.0/build",
          "type": "STRING"
        },
        {
          "name": "CUDA_CUDART_LIBRARY",
          "value": "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.6/lib/x64",
          "type": "STRING"
        },
        {
          "name": "COMMON_LIBRARY_DIRS",
          "value": "E:/Research/Source/Repos/Excalibur/cmake/out/build/x64-Debug/lib",
          "type": "STRING"
        },
        {
          "name": "BUILD_DEBUG_INFO",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "BUILD_MATIERIAL_OCR_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_FACE_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_GENERAL_CV_SDK",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "BUILD_TENSORRT_SUPPORT",
          "value": "True",
          "type": "BOOL"
        }
      ]
    },
    {
      "name": "x64-Release",
      "generator": "Ninja",
      "configurationType": "Release",
      "buildRoot": "${projectDir}\\out\\build\\${name}",
      "installRoot": "${projectDir}\\out\\install\\${name}",
      "cmakeCommandArgs": "",
      "buildCommandArgs": "",
      "ctestCommandArgs": "",
      "inheritEnvironments": [ "msvc_x64_x64" ],
      "variables": [
        {
          "name": "Boost_INCLUDE_DIRS",
          "value": "",
          "type": "STRING"
        },
		{
          "name": "OpenCV_DIR",
          "value": "E:/opencv-4.7.0/build",
          "type": "STRING"
        },
        {
          "name": "CUDA_CUDART_LIBRARY",
          "value": "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.6/lib/x64",
          "type": "STRING"
        },
        {
          "name": "COMMON_LIBRARY_DIRS",
          "value": "E:/Research/Source/Repos/Excalibur/cmake/out/build/x64-Release/lib",
          "type": "STRING"
        },
        {
          "name": "BUILD_DEBUG_INFO",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "BUILD_MATIERIAL_OCR_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_FACE_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_GENERAL_CV_SDK",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "BUILD_TENSORRT_SUPPORT",
          "value": "True",
          "type": "BOOL"
        }
      ]
    },
    {
      "name": "x86-Release",
      "generator": "Ninja",
      "configurationType": "Release",
      "buildRoot": "${projectDir}\\out\\build\\${name}",
      "installRoot": "${projectDir}\\out\\install\\${name}",
      "cmakeCommandArgs": "",
      "buildCommandArgs": "",
      "ctestCommandArgs": "",
      "inheritEnvironments": [ "msvc_x86" ],
      "variables": [
        {
          "name": "Boost_INCLUDE_DIRS",
          "value": "E:/Research/Source/Repos/vcpkg/installed/x64-windows/include",
          "type": "STRING"
        },
        {
          "name": "COMMON_LIBRARY_DIRS",
          "value": "E:/Research/Source/Repos/Excalibur/cmake/out/build/x86-Release/lib",
          "type": "STRING"
        },
        {
          "name": "BUILD_DEBUG_INFO",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "BUILD_MATIERIAL_OCR_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_FACE_SDK",
          "value": "True",
          "type": "BOOL"
        },
        {
          "name": "BUILD_GENERAL_CV_SDK",
          "value": "True",
          "type": "BOOL"
        }
      ]
    }
  ]
}
